body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #b7ff02;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

main {
    padding: 20px;
}

.message {
    background-color: #000000;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.gallery {
    text-align: center;
}

.gallery img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

.wish {
    background-color: #000000;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 20px;
}